*{
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body{
  width: 100%;
}

header{
  background-color: hsl(193, 100%, 96%);
  background-image: url("images/bg-hero-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 100px;
}

header nav div{
  margin-bottom: 60px;
}

header nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav div img{
  width: 160px;
}

header nav div button{
  color: hsl(192, 100%, 9%);
  font-weight: 600;
  font-size: 14px;
  padding: 10px 34px;
  background: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.244);
  cursor: pointer;
  transition: opacity 0.15s;
}

header nav div button:hover{
  opacity: 0.7;
}

header .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content div h1{
  font-size: 40px;
  margin-bottom: 28px;
}

.header-content div p{
  margin-bottom: 24px;
}

.header-content div button{
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  font-size: 14px;
  border: none;
  border-radius: 24px;
  padding: 16px 40px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.header-content div button:hover{
  opacity: 0.7;
}

.header-content div img{
  max-width: 600px;
  margin-left: 20px;
}








section{
  padding: 120px 100px;
  margin-bottom: 100px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 40px 40px 40px 100px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.244);
  border-radius: 12px;
}

.card div h2{
  font-size: 30px;
  margin-bottom: 20px;
  color: hsl(192, 100%, 9%);
}

.card div p{
  font-size: 20px;
  font-weight: 500;
  color: hsl(208, 11%, 55%);
}

.card div img{
  width: 380px;
  margin-left: 80px;
}

.card-two{
  flex-direction: row-reverse;
  margin: 40px 0px;
}

.card-two div img{
  margin-right: 80px;
  margin-left: 0;
}

footer{
  background-color: hsl(192, 100%, 9%);
  padding: 0px 100px 40px 100px;
  color: #fff;
}

footer div.overflow{
  background: #fff;
  max-width: 600px;
  border: none;
  padding: 50px 0px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.244);
  transform: translate(40%, -70%);
  text-align: center;
  margin-bottom: -80px;
}

.overflow p{
  color: hsl(192, 100%, 9%);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.overflow button{
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  font-size: 16px;
  border: none;
  border-radius: 24px;
  padding: 14px 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.244);
  cursor: pointer;
  transition: opacity 0.15s;
}

.overflow button:hover{
  opacity: 0.7;
}

footer img.footer-logo{
  width: 200px;
  margin-bottom: 20px;
}

footer nav{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

footer nav .contact-info div{
  display: flex;
  justify-content:space-between;
  align-items: start;
  margin-bottom: 20px;
  width: 340px;
}

footer nav .contact-info div p{
  width: 300px;
}


footer nav .footer-links ul li{
  list-style-type: none;
  margin-bottom: 20px;
}

footer nav .footer-links ul li a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: text-decoration 0.15s;
}

footer nav .footer-links ul li a:hover{
  text-decoration: underline;
}


.socials{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.socials div{
  width: 18px;
  height: 18px;
  padding: 8px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 12px;
  transition: all 0.15s;
}

.socials div img{
  width: 100%;
}

.socials div:hover{
  background: hsl(322, 100%, 66%);
  opacity: 0.6;
}



@media (max-width: 1000px) {
  header{
    padding: 20px;
  }

  header .header-content{
    display: block;
  }

  .header-content{
    text-align: center;
  }

  header .header-content div h1{
    font-size: 30px;
  }

  .header-content div button{
    margin-bottom: 40px;
  }

  .header-content div img{
    width: 300px;
    margin-left: 0;
  }

  section{
    padding: 40px 20px;
  }

  .card{
    flex-direction: column-reverse;
    padding: 40px 20px;
    text-align: center;
  }

  .card div img{
    width: 300px;
    margin: 0;
  }

  footer{
    padding: 40px 20px;
  }

  footer div.overflow{
    transform: translateY(-60% );
  }

  footer nav{
    display: block;
  }

  footer nav .contact-info,
  footer nav .footer-links,
  .socials{
    margin-bottom: 40px;
  }

  .socials{
    justify-content: center;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  footer div.overflow{
    transform: translate(10%, -60%);
  }
}


@media (min-width: 800px) and (max-width: 1023px) {
  footer div.overflow{
    transform: translate(20%, -60%);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  footer div.overflow{
    transform: translate(30%, -60%);
  }
}




#copyright{
  text-align: right;
  margin-bottom: 60px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}